# 포트 참고용 (회원 9100, 상품 9110, 주문 9120, 결제 9130, 정산 9140)
# 스키마 참고용 (각 도메인 스키마: member, product, order, payment, settlement)
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_NAME=openat
GITHUB_REPOSITORY=prgrms-be-adv-devcourse/beadv6_6_let-sgpt_be
PG_SECRET_KEY=
JWT_SECRET=
